<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="Persiden.C.Kid" />

    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta http-equiv="Content-Language" content="ja">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google" content="nositelinkssearchbox">
    <meta name="referrer" content="origin">
    <meta name="title" content="アルバイト/バイト求人情報ならジョブセンス【最大２万円の祝い金】" />
    <meta name="keywords" content="アルバイト,バイト,求人情報,募集,情報" />
    <meta name="description" content="アルバイト求人情報や募集情報ならバイト情報サイト「ジョブセンス」。採用決定者全員に最大２万円のアルバイト採用祝い金を贈呈中。アナタの理想のアルバイト探ししませんか？" />
    <title>アルバイト/バイト求人情報ならジョブセンス【最大２万円の祝い金】</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="アルバイト/バイト求人情報ならジョブセンス【最大２万円の祝い金】" />
    <meta property="og:url" content="https://j-sen.jp/" />
    <meta property="og:image" content="https://j-sen.jp/img/common/ogp.png" />
    <meta property="og:description" content="アルバイト求人情報や募集情報ならバイト情報サイト「ジョブセンス」。採用決定者全員に最大２万円のアルバイト採用祝い金を贈呈中。アナタの理想のアルバイト探ししませんか？" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/prototype.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/scriptaculous/scriptaculous.js?load=effects"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/header.js?cache=20150406145832" async></script>

    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/noconflict.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery.li-scroller.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/idTabs.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/cookie.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/easySlider1.5.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/opinion_form.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/search_save_cond.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery.lightbox_me.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/keisai_headerbar.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/jquery.lazyload.mini.js"></script>
    <script type="text/javascript" src="file:///C:/wamp/www/J-sen/j-sen.jp/js/suggestion.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css3/common_main_header_new.css?cache=150707" />
    <link rel="stylesheet" type="text/css" media="all" href="/css3/home.css?cache=150724" />
    <script type="text/javascript">
    !function(){var e=document.getElementsByTagName("script")[0],t=document.createElement("script"),a=1e17*Math.random();t.type="text/javascript",t.async=!0,t.src="//analytics.livesense.marketing/la.js?sid="+a,e.parentNode.insertBefore(t,e)}();
    </script>
    <!-- Google Code for &#12472;&#12519;&#12502;&#12475;&#12531;&#12473;&#35370;&#21839;&#32076;&#39443;&#26377;&#12426; Remarketing List -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1035699189;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "n4scCP2XhAMQ9Yfu7QM";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
</head>

<body>
    <div id="keisaiHeaderBar">
        <div class="inner">
            <div class="col-1">掲載をお考えの企業様は<a href="/info/corp.htm">こちら</a></div>
            <div class="col-2"><a class="icon-times close" href="javascript: void(0);">表示を消す</a></div>
        </div>
    </div>
    <div id="loginWindow" style="display: none;">
        <div id="loginWindowInner" class="loginWindowInner">
            <form method="post" accept-charset="UTF-8" action="/sessions?redirect_to=https%3A%2F%2Fj-sen.jp%2F">
                <input type="hidden" value="✓" name="utf8">
                <ul>
                    <li id="loginMail">
                        <strong>メールアドレス</strong>
                        <span>
                        <input id="session_email" type="text" name="session[email]">
                    </span>
                    </li>
                    <li id="loginPass">
                        <strong>パスワード</strong>
                        <span>
                        <input id="session_password" type="password" name="session[password]">
                        </span>
                    </li>
                    <li id="loginAuto">
                        <label for="session_should_remember">
                        <input id="session_should_remember" type="checkbox" checked="checked" value="1" name="session[should_remember]">
                        次回から自動でログイン
                        </label>
                    </li>
                    <li id="csrf">
                        <input id="session_authenticity_token" type="hidden" value="J0/PRRuJgiFMQzpTZuu+OxAiC477iy4JwzAuXVSKuU8=" name="session[authenticity_token]">
                    </li>
                </ul>
                <div class="loginBtnArea">
                    <input type="image" onclick="('skipConfirm' in window) ? skipConfirm() : true" onmouseout="this.src='image/header_login_btn.png'" onmouseover="this.src='image/header_login_btn_o.png'" src="image/header_login_btn.png" alt="ログイン">
                    <p>
                    <a class="forget" href="/member/forget">パスワードを忘れた方はこちら</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div id="header">
        <div id="headerInner">
            <div id="topNavi" class="clearfix">
                <div id="topNaviText">
                    <h1>アルバイト/バイト求人情報や募集</h1>
                    <p> </p>
                </div>
                <div id="toggleLoginBtns">
                    <ul id="logoutBtns">
                        <li id="memberBtn"><a href="#">会員登録</a></li>
                        <li id="loginBtn" onclick="header.toggleLoginWindow(); return false;"><a href="#">ログイン</a></li>
                    </ul>
                </div>
            </div>
            <div id="midArea" class="clearfix">
                <div id="logoArea">
                    <a class="logo" href="file:///C:/wamp/www/J-sen/index.htm">ジョブセンス</a>
                    <!-- type của ảnh dùng hàm random để cho hiển thị ngẫu nhiên 1-6 -->
                    <span class="type01">ジョブせんすけ</span>
                </div>
                <div class="menuArea clearfix">
                    <div class="upperArea">
                        <p class="update">07/22更新</p>
                        <p class="headerNum clearfix">
                        <!-- Doan nay chen code vao de update cac so, o duoi chi lam vi du -->
                            <span class="num1">1</span>
                            <span class="num1">1</span>
                            <span class="num8">8</span>
                            <span class="num2">2</span>
                            <span class="num9">9</span>
                            <span class="num7">7</span>
                            <span class="end">件</span>
                        </p>
                        <ul>
                            <li class="historyBtn"><a rel="nofollow" title="" href="#">最近見たバイト</a></li>
                            <li class="favorireBtn"><a rel="nofollow" title="" href="#">キープしたバイト</a></li>
                        </ul>
                    </div>
                    <div class="naviArea">
                        <ul class="clearfix">
                            <li id="naviKanto">
                                <a title="東京、神奈川、埼玉、千葉、茨城、栃木、群馬" href="file:///C:/wamp/www/J-sen/j-sen.jp/kanto/index.htm">関東</a>
                            </li>
                            <li id="naviTokai">
                                <a title="愛知、岐阜、静岡、三重" href="file:///C:/wamp/www/J-sen/j-sen.jp/tokai/index.htm">東海</a>
                            </li>
                            <li id="naviKansai">
                                <a title="大阪、兵庫、京都、滋賀、奈良、和歌山" href="file:///C:/wamp/www/J-sen/j-sen.jp/kansai/index.htm">関西</a>
                            </li>
                            <li id="naviTohoku">
                                <a title="北海道、青森、岩手、宮城、秋田、山形、福島" href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/index.htm">北海道・東北</a>
                            </li>
                            <li id="naviHokuriku">
                                <a title="山梨、新潟、長野、富山、石川、福井" href="file:///C:/wamp/www/J-sen/j-sen.jp/hokuriku/index.htm">甲信越・北陸</a>
                            </li>
                            <li id="naviChugoku">
                                <a title="鳥取、島根、岡山、広島、山口、徳島、香川、愛媛、高知" href="file:///C:/wamp/www/J-sen/j-sen.jp/chugoku/index.htm">中国・四国</a>
                            </li>
                            <li id="naviKyusyu">
                                <a title="福岡、佐賀、長崎、熊本、大分、宮崎、鹿児島、沖縄" href="file:///C:/wamp/www/J-sen/j-sen.jp/kyusyu/index.htm">九州・沖縄</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="searchArea" class="clearfix">
                <ul>
                    <li class="searchNavi01"><a href="file:///C:/wamp/www/J-sen/j-sen.jp/guide_area.htm">エリアから探す</a></li>
                    <li class="searchNavi02"><a href="file:///C:/wamp/www/J-sen/j-sen.jp/guide_line.htm">路線から探す</a></li>
                    <li class="searchNavi03"><a href="file:///C:/wamp/www/J-sen/j-sen.jp/guide_job.htm">職種から探す</a></li>
                    <li class="searchNavi04"><a href="file:///C:/wamp/www/J-sen/j-sen.jp/guide_feature.htm">特徴から探す</a></li>
                </ul>
                <div class="freeword">
                    <form method="GET" action="/search/">
                    <input type="hidden" value="1" name="from_top">
                    <input id="area" type="hidden" value="kanto" name="area">
                    <input class="searchBox inputTxt" type="text" onblur="if (!this.value) this.value = 'フリーワード検索';" onfocus="if (this.value == 'フリーワード検索') this.value = '';" value="フリーワード検索" name="freeword">
                    <input class="searchBtn" type="image" onmouseout="this.src='image/header_search_btn.png'" onmouseover="this.src='image/header_search_btn.png'" alt="検索" src="image/header_search_btn.png">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="banner">
        <div id="headerBread">
            <div>
                <ul>
                    <li class="home">
                        <!-- Doan nay chen code vao de hien thi duong dan -->
                        <a href="index.htm">バイトTOP</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mainVisualArea">
            <div class="inner">
                <a href="index.htm">
                    <img width="850" height="237" alt="7月限定！ 毎週火曜日は「いいバイトの日」キャンペーン　通常祝い金最大2万円+いいバイト（11810）円贈呈　今がチャンス！詳細を見る" 
                    src="image/banner.png"/>
                </a>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="mainContents">
            <div id="article">
                <div id="arbeitSearchBox">
                    <h2>アルバイトを探す</h2>
                    <div id="selectFeatureTab">
                        <ul class="idTabs">
                            <li class="areaFTab01">
                                <a class="selected" href="#searchAreaBox">エリアから探す</a>
                            </li>
                            <li class="areaFTab02">
                                <a class="" href="#stationAreaBox">路線から探す</a>
                            </li>
                        </ul>
                    </div>
                    <div id="searchAreaBox" style="display: none;">
                        <div id="jMapBox" class="clearfix">
                            <div class="jMap">
                                <h3>エリアから探す</h3>
                                <ul class="idTabs menu">
                                    <li class="jm01">
                                        <a href="/tohoku/index.htm">北海道・東北</a>
                                    </li>
                                    <li class="jm02">
                                        <a href="/kanto/index.htm">関東</a>
                                    </li>
                                    <li class="jm03">
                                        <a href="/hokuriku/index.htm">甲信越・北陸</a>
                                    </li>
                                    <li class="jm04">
                                        <a href="/tokai/index.htm">東海</a>
                                    </li>
                                    <li class="jm05">
                                        <a href="/kansai/index.htm">関西</a>
                                    </li>
                                    <li class="jm06">
                                        <a href="/chugoku/index.htm">中国・四国</a>
                                    </li>
                                    <li class="jm07">
                                        <a href="/kyusyu/index.htm">九州・沖縄</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="jList">
                                <dl>
                                    <dt>
                                    <span>北海道・東北</span>
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a href="/guide_area1.htm">北海道</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area2.htm">青森</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area3.htm">岩手</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area4.htm">宮城</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area5.htm">秋田</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area6.htm">山形</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area7.htm">福島</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <span>関東</span>
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a href="/guide_area8.htm">東京</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area9.htm">神奈川</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area10.htm">埼玉</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area11.htm">千葉</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area12.htm">茨城</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area13.htm">栃木</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area14.htm">群馬</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt><span>甲信越・北陸</span></dt>
                                    <dd></dd>
                                </dl>
                                <!-- Moi viet vi du 2 cai, con lai m viet chen code php vao cho no in het ra nha, co 7 cai tat ca-->
                                
                            </div>
                        </div>
                    </div>
                    <div id="stationAreaBox" style="display: block;">
                        <div id="sMapBox" class="clearfix">
                            <div class="jMap">
                                <h3>路線から探す</h3>
                                <ul class="idTabs menu">
                                    <li class="jm01">
                                        <a class="defaultLineSetter" href="/tohoku/index.htm">北海道・東北</a>
                                    </li>
                                    <li class="jm02">
                                        <a class="defaultLineSetter" href="/kanto/index.htm">関東</a>
                                    </li>
                                    <li class="jm03">
                                        <a class="defaultLineSetter" href="/hokuriku/index.htm">甲信越・北陸</a>
                                    </li>
                                    <li class="jm04">
                                        <a class="defaultLineSetter" href="/tokai/index.htm">東海</a>
                                    </li>
                                    <li class="jm05">
                                        <a class="defaultLineSetter" href="/kansai/index.htm">関西</a>
                                    </li>
                                    <li class="jm06">
                                        <a class="defaultLineSetter" href="/chugoku/index.htm">中国・四国</a>
                                    </li>
                                    <li class="jm07">
                                        <a class="defaultLineSetter" href="/kyusyu/index.htm">九州・沖縄</a>
                                    </li>
                                    <script type="text/javascript">
                                        $$('.defaultLineSetter').each(function(elem) {
                                            elem.observe('click', function() {
                                                var defaultLineCookie = new (Class.create(Lvs.CookieManager, {
                                                    getKey: function () { return 'default_line'; }
                                                }));
                                                defaultLineCookie.set('on');
                                            });
                                        });
                                    </script>
                                </ul>
                            </div>
                            <div class="jList">
                                <dl>
                                    <dt>
                                    <span>北海道・東北</span>
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a href="/guide_area1_line.htm">北海道</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area2_line.htm">青森</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area3_line.htm">岩手</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area4_line.htm">宮城</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area5_line.htm">秋田</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area6_line.htm">山形</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area7_line.htm">福島</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        <span>関東</span>
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <a href="/guide_area8.htm">東京</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area9.htm">神奈川</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area10.htm">埼玉</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area11.htm">千葉</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area12.htm">茨城</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area13.htm">栃木</a>
                                            </li>
                                            <li>
                                                <a href="/guide_area14.htm">群馬</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt><span>甲信越・北陸</span></dt>
                                    <dd></dd>
                                </dl>
                                <!-- Moi viet vi du 2 cai, con lai m viet chen code php vao cho no in het ra nha, co 7 cai tat ca-->
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div id="pickupBox">
                    <div class="ttl">
                        <h2>人気バイトをピックアップ</h2>
                        <ul class="idTabs">
                            <li class="none"><a class="selected" href="#close"></a></li>
                            <li class="as"><a class="" href="#areaSelect"></a></li>
                        </ul>

                        <!-- Hien thi thong tin-->
                        <div id="areaSelect" style="display: none;">
                            <div class="inner">
                                <div class="clearfix">
                                    <h3>エリア選択</h3>
                                    <p class="idTabs">
                                        <a class="closeBtn" href="#close">閉じる</a>
                                    </p>
                                </div>
                                <p class="comment">他の地域でアルバイトを検索したい方は下記より地域名を選択してください。
                                </p>
                                <ul>
                                    <li>
                                        <a href="/tohoku/index.htm">北海道・東北</a>
                                        (7590)
                                    </li>
                                    <li>
                                        <a href="/hokuriku/index.htm">甲信越・北陸</a>
                                        (5467)
                                    </li>
                                    <li>
                                        <a href="/tokai/index.htm">東海</a>
                                        (11379)
                                    </li>
                                    <li>
                                        <a href="/kansai/index.htm">関西</a>
                                        (14606)
                                    </li>
                                    <li>
                                        <a href="/chugoku/index.htm">中国・四国</a>
                                        (5259)
                                    </li>
                                    <li>
                                        <a href="/kyusyu/index.htm">九州・沖縄</a>
                                        (5816)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pickup01">
                        <h3>特徴から探す</h3>
                        <p class="more"><a href="/guide_kanto_feature/">もっと見る</a></p>
                        <!-- Phan list nay viet code vao de in ra nha, t viet vi du vai cai thoi, cu viet code giong vi du la no tu in ra dung -->
                        <div class="pickuplist">
                            <ul>
                                <li>
                                    <a href="/kanto/feature_short_work.htm">短期バイト</a>
                                    (1964)
                                </li>
                                <li>
                                    <a href="/kanto/feature_day_saraly.htm">日払いOK</a>
                                    (1836)
                                </li>
                                <li>
                                    <a href="/kanto/feature_week_saraly.htm">週払いOK</a>
                                    (5753)
                                </li>
                                <li>
                                    <a href="/kanto/feature_school.htm">高校生OK</a>
                                    (3404)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pickup02">
                        <h3>人気職種から探す</h3>
                        <p class="more">
                        <a href="/guide_kanto_job/">もっと見る</a>
                        </p>
                        <div class="pickuplist">
                            <u>
                            </u>
                        </div>
                    </div>
                    <div class="pickup03">
                        <h3>人気エリアから探す</h3>
                        <p class="more">
                        <a href="/guide_kanto_area/">もっと見る</a>
                        </p>
                        <div class="pickuplist">
                            <u>
                            </u>
                        </div>
                    </div>
                    <div class="pickup04">
                        <h3>ビル名・場所から探す</h3>
                        <p class="more">
                        <a href="/guide_kanto_landmark/">もっと見る</a>
                        </p>
                        <div class="pickuplist">
                            <u>
                            </u>
                        </div>
                    </div>
                    <div class="pickup05">
                        <h3>ブランド名・ショップから探す</h3>
                        <p class="more">
                        <a href="/guide_kanto_bland/">もっと見る</a>
                        </p>
                        <div class="pickuplist">
                            <u>
                            </u>
                        </div>
                    </div>
                </div>
                <div id="recommendBox">
                    <h2>ジョブセンスお役立ちコンテンツ</h2>
                    <div class="line">
                        <dl class="reco01 clearfix">
                            <dt><a href="/contents/faq/index.htm">よくある質問</a></dt>
                            <dd class="clearfix">
                                <p class="icon"><a href="/contents/faq/index.htm">よくある質問</a></p>
                                <p class="txt">ジョブセンス利用者から寄せられるよくある質問を掲載</p>
                            </dd>
                        </dl>
                        
                        <dl class="reco02">
                            <dt>
                                <a href="/contents/rireki.htm">履歴書の書き方</a>
                            </dt>
                            <dd>
                                <p class="icon">
                                <a href="/contents/rireki.htm">履歴書の書き方</a>
                                </p>
                            <p class="txt">アルバイトの履歴書の書き方を丁寧に解説</p>
                            </dd>
                        </dl>
                        <dl class="reco03">
                            <dt>
                                <a href="/keyword/">トレ単</a>
                            </dt>
                            <dd>
                                <p class="icon"><a href="/keyword/">トレ単</a></p>
                                <p class="txt">最新アルバイトのトレンドをチェック</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="line">
                        <dl class="reco04">
                            <dt>
                                <a href="/qanda/">Q&Aコミュニティ</a>
                            </dt>
                            <dd>
                                <p class="icon">
                                <a href="/qanda/">Q&Aコミュニティ</a>
                                </p>
                                <p class="txt">アルバイトに関するQ&Aを多数掲載</p>
                            </dd>
                        </dl>
                        <dl class="reco05">
                            <dt>
                                <a href="/exptalk/">アルバイト体験談</a>
                            </dt>
                            <dd>
                                <p class="icon">
                                <a href="/exptalk/">アルバイト体験談</a>
                                </p>
                                <p class="txt">みんなのアルバイト体験談を見てみよう</p>
                            </dd>
                        </dl>
                        <dl class="reco08">
                            <dt>
                                <a href="/contents/taisetsu/index.htm">企業インタビュー</a>
                            </dt>
                            <dd>
                                <p class="icon">
                                <a href="/contents/taisetsu/index.htm">企業インタビュー</a>
                                </p>
                                <p class="txt">アルバイトを大切にすることに自信アリ！の企業にインタビューしてみました</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="specialBox">
                    <div class="inner">
                        <h3>こだわり特集</h3>
                        <ul>
                            <li>
                                <a href="/pickup_juku.htm">塾講師のアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_highwage.htm">高収入（高額）アルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_school.htm">高校生アルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_regist.htm">登録制アルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_day.htm">日払いアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_short.htm">短期アルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_regular.htm">正社員登用ありのアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_nurse.htm">看護師のアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_kaigo.htm">介護のアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_pharmacist.htm">薬剤師のアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_callcenter.htm">コールセンターのアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_haken.htm">派遣のアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_opening.htm">オープニングスタッフのアルバイト</a>
                            </li>
                            <li>
                                <a href="/pickup_clothing.htm">アパレルのアルバイト</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="newInfoBox">
                    <h3>新着のアルバイト情報</h3>
                    <!-- Thời gian up chỉ hiển thị demo, còn thực thế phải truy xuất trong csdl-->
                    <dl>
                        <dt>
                            <a href="/323036/y">キンコーズ 千葉中央店</a> （時給1,000円～）
                            <strong>2015年07月24日UP!</strong>
                        </dt>
                        <dd>印刷、製本、DTPのスキルを身につけませんか?</dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href="/335889/y">佐藤美装</a> （日給12,000円～）
                            <strong>2015年07月24日UP!</strong>
                        </dt>
                        <dd>【改修工事スタッフ】未経験からプロの技術が身に付くお仕事始めませんか?</dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href="/336987/y">イーボル 丸井新宿本館</a> （時給1,200円～）
                            <strong>2015年07月24日UP!</strong>
                        </dt>
                        <dd>【1日8h、週5日〜OK】ファッションに興味ある明るく元気な方を募集♪</dd>
                    </dl>
                    <div class="endLine"></div>
                </div>

                <div id="seoBox">
                    <h3><span>アルバイト／バイト求人情報ジョブセンス</span></h3>
                    <p>
                        アルバイト求人情報サイト「ジョブセンス」では、アルバイト/バイト/パート採用者全員に最大2万円の採用祝い金を贈呈しております！
                        <br>
                        日本最大級のお仕事情報を地域、路線、職種、特徴などさまざまな方法で検索可能です。
                        <br>
                        東京や大阪、京都を始めとした全国の求人情報、カフェやコンビニ、アパレルのバイトなどの人気職種も多数掲載！
                        <br>
                        塾講師/家庭教師につきましてはパートナー企業「
                        <a href="http://www.juku.st/" target="_blank">塾講師ステーション</a>
                        」と提携しています。
                    </p>
                </div>

                <div id="footerArea">
                    <div class="inner">
                        <h3>アルバイト／バイト求人情報を探す</h3>
                        <ul class="blueLine">
                            <li class="areaTTL">主要都市</li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kanto/station_1276.htm">渋谷</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kanto/station_1279.htm">新宿</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kanto/station_1283.htm">池袋</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kanto/station_1513.htm">横浜</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tokai/city_660.htm">浜松</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tokai/station_5008.htm">名古屋</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kansai/city_839.htm">神戸</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kansai/city_801.htm">堺</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kansai/city_143.htm">仙台</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/kansai/city_2.htm">札幌</a>
                            </li>
                        </ul>
                        <!-- Đoạn dưới này truy xuất csdl rồi printf theo dạng ở dưới t đã làm mẫu-->
                        <ul>
                            <li class="areaTTL">
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/index.htm">北海道・東北版</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E5%8C%97%E6%B5%B7%E9%81%93/">北海道</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E9%9D%92%E6%A3%AE%E7%9C%8C/">青森</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E5%B2%A9%E6%89%8B%E7%9C%8C/">岩手</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E5%AE%AE%E5%9F%8E%E7%9C%8C/">宮城</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E7%A7%8B%E7%94%B0%E7%9C%8C/">秋田</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E5%B1%B1%E5%BD%A2%E7%9C%8C/">山形</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/tohoku/%E7%A6%8F%E5%B3%B6%E7%9C%8C/">福島</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="aside">Quang cao</div>
        </div>
        
        
        <div class="footerGoTop">
            <p><a href="#topNavi">ページトップへ戻る</a></p>
        </div>
        <div id="footerBread">
            <ul class="clearfix">
                <li class="home">バイトTOP</li>
            </ul>
        </div>
        <div class="bigBanner">
            <a href="cp/11810cp/index.htm">
                <img width= "840" src="image/bnr_11810cp_840x120.png" 
                alt="7月限定！毎週火曜日は「いいバイトの日」祝い金11,810（いいバイト）円贈呈"/>
            </a>
        </div>
        
        <div id="footerLink">
            <div id="footerInner" class="clearfix">
                <div class="footLeft">
                    <div class="inner">
                        <h3>ジョブセンスについて</h3>
                        <ul>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/info/corp.htm">求人広告掲載のお申し込み</a>
                            </li>
                            <li>
                                <a rel="nofollow" href="file:///C:/wamp/www/J-sen/j-sen.jp/contents/faq/index.htm">お問い合わせ</a>
                            </li>
                            <li>
                                <a rel="nofollow" href="file:///C:/wamp/www/J-sen/j-sen.jp/info/privacy.htm">個人情報保護方針</a>
                            </li>
                            <li>
                                <a target="blank" rel="nofollow" href="http://www.livesense.co.jp/company/overview.htm">会社概要</a>
                            </li>
                            <li>
                                <a href="file:///C:/wamp/www/J-sen/j-sen.jp/sitemap/index.htm">サイトマップ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footCenter">
                    <div class="inner">
                        <h3>運営サイト</h3>
                        <ul>
                            <li>
                                <a target="_blank" href="http://job.j-sen.jp/">転職の求人ならジョブセンスリンク</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://haken.j-sen.jp/">派遣の求人ならジョブセンス派遣</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://jobtalk.jp/">転職のクチコミなら転職会議</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://chintai.door.ac/">賃貸情報ならdoor賃貸</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://imitsu.jp/">BtoBの業者比較・評判ならimitsu</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footRight">
                    <div class="inner">
                        <h3>こだわり特集</h3>
                        <ul class="clearfix">
                            <li>
                                <dl>
                                    <dt class="fBnr12">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_haken.htm">派遣のアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                    <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_haken.htm">派遣のアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="fBnr02">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_highwage.htm">高収入のアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_highwage.htm">高収入のアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="fBnr08">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_nurse.htm">看護師のアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_nurse.htm">看護師のアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="fBnr09">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_kaigo.htm">介護のアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_kaigo.htm">介護のアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="fBnr06">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_short.htm">短期・単発のアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_short.htm">短期・単発のアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="fBnr03">
                                        <span>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_school.htm">高校生OKのアルバイト特集</a>
                                        </span>
                                    </dt>
                                    <dd>
                                        <a href="file:///C:/wamp/www/J-sen/j-sen.jp/pickup_school.htm">高校生OKのアルバイト特集</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <div class="freeword">
                            <form>
                                <input type="hidden" value="1" name="from_top"/>
                                <input type="hidden" value="kanto" name="area"/>
                                <input class="searchBox inputTxt" type="text" onblur="if (!this.value) { this.value='フリーワード検索';}" onfocus="if (this.value == 'フリーワード検索') { this.value='' }" name="freeword" value="フリーワード検索"/>
                                <input class="searchBtn" type="image" src="image/header_search_btn.png" onmouseout="this.src='image/header_search_btn.png'" onmouseover="this.src='image/header_search_btn.png'" alt="検索"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>Copyright © Livesense Inc. All rights reserved.<br/>
                アルバイト/バイト募集情報サイト『ジョブセンス』
            </p>
        </div>
    </div>



</body>
</html>